// Specific CSS for your home-page
.banner {
  background-size: cover;
  background-position: center;
  padding: 5vh 0;
  text-align: -webkit-center;
  background-image: asset-url('banner_bg.png');
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
}

.banner p {
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

body {
  background-color: white;
}

.cards {
  width: auto;
}

.card {
  background-color: #487dad;
  color: white;
  position: relative;
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  justify-content: space-between;
  min-height: 280px;
  width: 670px;
  border-radius: 25px;
  border: 1px solid #487dad;
  margin-bottom: 10px;
}

.container-list {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
