<div class="box-popup">
    <div class="box">
        <h3>Congratulations</h3>
        <p>you can swap this ticket!</p>
        <p>you are few clicks away...we need just to know a bit more about you!</p>
        <div class="formButton" id="validate-btn"><%= link_to "sign up", new_user_registration_path %></div>
    </div>
</div>