<h1> Congratulations! </h1>

<!-- Base type size -->
<div class="banner">
  <div class="row">
    <p>You have officially listed your flight with SwapFlat!We would like to thank you for your cooperation and service. Please find below the details of your offer.</p>
  </div>
</div>

<div class="card">
  <p>The is where the "FULL details" flight card will go</p>
</div>

<div class="row">
  <p>(this goes to the right from the card - Application Approved) Your application Has been verified by our legal team.  </p>
</div>

<div class="row">
  <p>(this goes to the right from the card - Card Visible) The card offer with your flights is now visible to all users and its open for shopping experience.  </p>
</div>

<div class="row">
  <p>(this goes to the right from the card - Profile redirect) Want to know if you offer has been purchased?  </p>
</div>
<div class="row">
  <%= link_to "Take me to my profile", my_dashboard_path(@user) %>
</div>
