<link href="../assets/dist/css/bootstrap.min.css" rel="stylesheet">
<div class="container">
    <header class="navbar d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
      <%= link_to "#", class: "navbar-brand" do %>
        <%= image_tag "/app/assets/images/swaptrip_logo_white_1.png" %>
      <% end %>

      <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
        <li><a href="#" class="nav-link px-2 link-secondary">Home</a></li>
        <li><a href="#" class="nav-link px-2 link-dark">Home</a></li>
        <li><a href="#" class="nav-link px-2 link-dark">Home</a></li>
        <li><a href="#" class="nav-link px-2 link-dark">Home</a></li>
        <li><a href="#" class="nav-link px-2 link-dark">Home</a></li>
      </ul>

      <div class="buttons col-md-3 text-end">
        <button type="button" class="login btn btn-outline-primary me-2">Login</button>
        <button type="button" class="signup btn btn-primary">Sign-up</button>
      </div>
    </header>
  </div>
