<div class="about-section">
  <h1>About Us Page</h1>
  <p>Here we present our awesome team</p>
  <p>Resize the browser window to see that this page is responsive by the way.</p>
</div>

<h2 style="text-align:center">Our Team</h2>
<div class="row">
  <div class="column_about">
    <div class="card_about">
      <img src="/w3images/team1.jpg" alt="hugo" style="width:100%">
      <div class="container">
        <h2>Hugo Hodinka</h2>
        <p class="title_about">CEO & Founder</p>
        <p>Some text that describes me lorem ipsum ipsum lorem.</p>
        <p>jane@example.com</p>
        <p><button class="button_about">Contact</button></p>
      </div>
    </div>
  </div>

  <div class="column_about">
    <div class="card_about">
      <img src="/w3images/team2.jpg" alt="tobi" style="width:100%">
      <div class="container">
        <h2>Tobi Goli</h2>
        <p class="title_about">Art Director</p>
        <p>Some text that describes me lorem ipsum ipsum lorem.</p>
        <p>mike@example.com</p>
        <p><button class="button_about">Contact</button></p>
      </div>
    </div>
  </div>

  <div class="column_about">
    <div class="card_about">
      <img src="/w3images/team3.jpg" alt="marc" style="width:100%">
      <div class="container">
        <h2>Marc Gilbert</h2>
        <p class="title_about">Designer</p>
        <p>Some text that describes me lorem ipsum ipsum lorem.</p>
        <p>john@example.com</p>
        <p><button class="butto_aboutn">Contact</button></p>
      </div>
    </div>
  </div>

  <div class="column_about">
    <div class="card_about">
      <img src="/w3images/team3.jpg" alt="arman" style="width:100%">
      <div class="container">
        <h2>Arman</h2>
        <p class="title_about">Designer</p>
        <p>Some text that describes me lorem ipsum ipsum lorem.</p>
        <p>john@example.com</p>
        <p><button class="butto_aboutn">Contact</button></p>
      </div>
    </div>
  </div>

  <div class="column_about">
    <div class="card_about">
      <img src="/w3images/team3.jpg" alt="francisco" style="width:100%">
      <div class="container">
        <h2>Francisco Silva</h2>
        <p class="title_about">Designer</p>
        <p>Some text that describes me lorem ipsum ipsum lorem.</p>
        <p>john@example.com</p>
        <p><button class="butto_aboutn">Contact</button></p>
      </div>
    </div>
  </div>
</div>