<div class="container">
    <div class="banner-bg">
        <div class="banner">
            <h2 class = "dash-p"> Welcome Back, <%= @user.email %></h2>
            <div class="list-header">
                <div class="">
                </div>
                
            </div>
        </div>
    </div>
    <div class="row">
    </div>
</div>
