.navbar-lewagon {
  justify-content: space-between;
  background: #487DAD;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar {
  background: #487dad;
  width: 100;
  border-bottom: 3px solid white;
}

.nav-link {
  color: white;
}

.nav-link:hover {
  color: white;
}

.login {
  background: transparent;
  border: none;
  color: white;
}

.login:hover {
  background: transparent;
  border: 1px solid white;
  color: white;
  border-radius: 25px;
  transition: 0.3s;
}

.signup {
  background: white;
  color: black;
  border-radius: 25px;
  border: none;
}

.signup:hover {
  background: black;
  color: white;
  border-radius: 25px;
  border: 1px solid white;
  transition: 0.3s;
}

.buttons {
  text-align: end;
}

@media (min-width: 1200px) {
.container {
  max-width: 100%;
}
}

.navbar-brand {
  width: 25%;
}

.logo {
  width: 200px;
}
