.buying-process {
    display: flex;
    justify-content: space-around;
    vertical-align: middle;
    //border: 1px solid black;
}
.buy {
    border: 1px solid black;
    border-radius: 25px;
    padding: 32px;
    text-align: center;
    align-items: center;
    color: #487DAD;
    box-shadow: 0 5px 15px rgba(0,0,0,0.5);
}
.buy p {
    margin-bottom: 40px;
    font-size: larger;
    font-weight: bold;
}
.flight-price {
    font-size: 25px;
}

.buy h3 {
    margin-bottom: 40px;
}

.Buy-btn {
    background-color: #487DAD;
    padding: 24px 16px;
    border-radius: 8px;
    color: white;
    font-size: large;
    font-weight: bold;
}
.card-purchase {
    background-color: #487dad;
    color: white;
    position: relative;
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    justify-content: space-between;
    min-height: 280px;
    width: 670px;
    border-radius: 25px;
    border: 1px solid #487dad;
  }