
.sign-up-container {
    max-width: 700px; 
    width: 100%;
    margin-left: 250px;
}
.title{
    margin-bottom: 30px;
}
.sign-up-form {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    width: 550px;
    justify-content: space-around;
}

.form-inputs {
    width: calc(100% / 2 -20px);
}

.form-inputs input{
    height: 45px;
    width: 100%;
}