.form-container {
  max-width: fit-content;
  color: #487dad;
  border: 2px solid #487dad;
  border-radius: 25px;
}

.form-home {
  max-width: 600px;
  background: white;
  padding: 30px;
  min-height: 570px;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.ticket-img-form {
  float: right;
  color: #487dad;
  filter: drop-shadow(2px 4px 6px #487dad);
}

.airlines-img-form {
  position: relative;
  z-index: 0;
  left: 450px;
  width: 55px;
  top: 60px;
}

.form-title {
  text-transform: uppercase;
  color: #487dad;
}

.form-fields .label_inside {
  margin-bottom: 15px;
}

.form-fields {
  width: 70%;
}

.form-h3 {
  color: #487dad;
  font-weight: 600;
}

.formButton {
  border-radius: 25px !important;
  border: 1px solid white;
  background-color: white;
  text-align: center;
  color: #687dad;
  padding: 5px 25px;
}

.submit_row {
  width: 150px;
}
